<div class="w3-content">
  <div class="w3-row w3-margin">
    <br><br><br><br><br><br>
    <%= image_tag "images/aN9rwp1448164149.png", alt: "Libros Ciencias" %>
    <br><br>
    <form>
      <input class="w3-input" type="text" required>
      <br>
      <div class="w3-center">
        <button class="w3-btn w3-theme">Buscar</button>
      </div>
    </form>
  </div>
</div>
