<br><br><br><br><br><br>

<div class="w3-row-padding">
  <div class="w3-half w3-justify">
    <p>
      LibrosCiencias es un pequeño proyecto realizado por un equipo de alumnos de 3er semestre de la carrera Ciencias de la Computación de la Facultad de Ciencias de la Universidad Nacional Autónoma de México, cuya finalidad es ofrecer un servicio fácil de usar por los alumnos y profesores de la facultad donde podrán ver qué libros recomienda la comunidad para el estudio de cada materia obligatoria de todas las carreras que se imparten en la escuela.
    </p>
    <p>
      Tanto alumnos como profesores pueden ver cúales son los libros más recomendados por la comunidad para el estudio de las materias, así como también recomendar los libros que crean más útiles.
    </p>
    <p>
      Este proyecto está dirigido a todo aquel alumno que desee saber qué libros le serán de más ayuda en el estudio de sus materias o inclusive materias que no curse pero desea aprender, a los profesores que quieran orientar a sus alumnos en el material necesario para el estudio de su materia, y finalmente, a toda persona de la facultad que quiera ayudar a sus compañeros en la correcta elección de material didáctico.
    </p>
    <br /><br />
    <p>
      Este proyecto fue realizado como parte de la evaluación de la materia Modelado y Programación (correspondiente al plan de estudios de Ciencias de la Computación 2013), y corresponde al tema "Aplicaciones Web".
    </p>
    <p>
      Si desea ver el código de la aplicación puede visitar el repositorio de GitHub en el siguiente enlace: <a href="https://github.com/DavidFHCh/Proyecto3/tree/debianvm">LibrosCiencias</a>.
    </p>
  </div>
</div>
