<div class="w3-container w3-half w3-margin-top">
  <form class="w3-container w3-card-4">
    <h2 class="w3-text-theme">Info</h2>
    <div class="w3-input-group">      
      <input class="w3-input" type="text">
      <label class="w3-label">Correo Electronico</label>
    </div>
    <label class="w3-checkbox">
      <input type="radio" name="tipo" value="Estudiante" checked="checked">
      <span class="w3-checkmark" onclick="document.getElementById('id1').style.display='block'"></span> Estudiante 
    </label><br>
    <label class="w3-checkbox">
      <input type="radio" name="tipo" value="Profesor">
      <span class="w3-checkmark" onclick="document.getElementById('id02').style.display='block'"></span> Profesor
    </label>
    <br><br>
    <button class="w3-btn w3-theme">Guardar</button>
    <br><br>
  </form>
</div>

<div id="id1" class="w3-modal">
  <div class="w3-modal-content">
    <header class="w3-container w3-red"> 
      <span onclick="document.getElementById('id1').style.display='none'" 
	    class="w3-closebtn">×</span>
      <h2>Información de Estudiante</h2>
    </header>
    <div class="w3-container">
      <div class="w3-input-group">      
	<input class="w3-input" type="text">
	<label class="w3-label">Carrera</label>
      </div>
      <div class="w3-input-group">      
	<input class="w3-input" type="number">
	<label class="w3-label">Generación</label>
      </div>
    </div>
    <div class="w3-center">
      <button class="w3-btn w3-blue">Listo</button>
    </div>
    <br>
    <footer class="w3-container w3-red">
      <p>&nbsp;</p>
    </footer>
  </div>
</div>

<div id="id02" class="w3-modal">
  <div class="w3-modal-content">
    <header class="w3-container w3-red"> 
      <span onclick="document.getElementById('id02').style.display='none'" 
	    class="w3-closebtn">×</span>
      <h2>Información de Profesor</h2>
    </header>
    <div class="w3-container">
      <div class="w3-input-group">      
	<input class="w3-input" type="text">
	<label class="w3-label">Nombre</label>
	<p>Se enviara un correo para verificar que es Profesor.</p>
      </div>
    </div>
    <div class="w3-center">
      <button class="w3-btn w3-blue">Listo</button>
    </div>
    <br>
    <footer class="w3-container w3-red">
      <p>&nbsp;</p>
    </footer>
  </div>
</div>
