<footer class="w3-container w3-theme-dark" id="footer">
  <p class="w3-text-white-opacity">
    El incio de sesión esta powered by Google.
    <%= link_to "Acerca de", about_path, class: "w3-right" %>
  </p>
</footer>
