<div class="w3-half">
  <div class="w3-right">
    <form>
      <input class="w3-input" type="text" required>
      <br>
      <div class="w3-center">
        <button class="w3-btn w3-theme">Buscar</button>
      </div>
    </form>
  </div>
</div>
